body#pagInicio, #pagRoadmap{
    background-image: url(Imagenes/Fondos/galaxia3.jpg);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    color: #fff;
}

/* Pagina Inicio */

table tr td{
    color: #fff;
}

/* Pagina Roadmap */

.item{
    transition: all 0.8s;
}

.item:hover{
    background-color: rgba(255, 255, 255, 0.311);
    border-radius: 10px;
}

.item1{
    margin: auto;
    width: 300px;
    border-top: 5px dashed grey;
    border-left: 5px dashed grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    list-style: none;
}

.item1:first-child{
    margin: auto;
    width: 300px;
    border-top: 0;
    border-left: 5px dashed grey;
}

.item2{
    margin: auto;
    width: 300px;
    border-top: 5px dashed grey;
    border-right: 5px dashed grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    list-style: none;
}

@media only screen and (max-width: 575px){

    table{
        width: 100%;
        height: 150px;
    }

    .imgTabla{
        width: 70px;
    }

    .videoInicio{
        width: 100%; 
        height: 225px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 719px){

    .imgTabla{
        width: 120px;
    }

    .videoInicio{
        width: 80%; 
        height: 300px;
    }

}

@media only screen and (min-width: 720px) and (max-width: 959px){

    .imgTabla{
        width: 120px;
    }

    .videoInicio{
        width: 80%; 
        height: 300px;
    }

}

@media only screen and (min-width: 960px){

    .imgTabla{
        width: 180px;
    }

    .videoInicio{
        width: 700px;
        height: 400px;
    }


}