body#pagInicio{
    background-image: url(Imagenes/Fondos/galaxia3.jpg);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    color: #fff;
}

table tr td{
    color: #fff;
}

@media only screen and (max-width: 575px){

    table{
        width: 100%;
        height: 150px;
    }

    .imgTabla{
        width: 70px;
    }

    .videoInicio{
        width: 100%; 
        height: 225px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 719px){

    .imgTabla{
        width: 120px;
    }

    .videoInicio{
        width: 80%; 
        height: 300px;
    }

}

@media only screen and (min-width: 720px) and (max-width: 959px){

    .imgTabla{
        width: 120px;
    }

    .videoInicio{
        width: 80%; 
        height: 300px;
    }

}

@media only screen and (min-width: 960px){

    .imgTabla{
        width: 180px;
    }

    .videoInicio{
        width: 700px;
        height: 400px;
    }


}