body#pagInicio, #pagRoadmap, #pagColecciones{
    background-image: url(Imagenes/Fondos/galaxia3.jpg);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    color: #fff;
}

/* Pagina Inicio */

table tr td{
    color: #fff;
}

/* Pagina Roadmap */

.item{
    transition: all 0.8s;
}

.item:hover{
    background-color: rgba(255, 255, 255, 0.311);
    border-radius: 10px;
}

.item1{
    margin: auto;
    width: 300px;
    border-top: 5px dashed grey;
    border-left: 5px dashed grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    list-style: none;
}

.item1:first-child{
    margin: auto;
    width: 300px;
    border-top: 0;
    border-left: 5px dashed grey;
}

.item2{
    margin: auto;
    width: 300px;
    border-top: 5px dashed grey;
    border-right: 5px dashed grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    list-style: none;
}

@media only screen and (max-width: 575px){

    table{
        width: 100%;
        height: 150px;
    }

    .imgTabla{
        width: 70px;
    }

    .videoInicio{
        width: 100%; 
        height: 225px;
    }

    .vAlign{
        height: 100px;
    }

    .coleccion{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 5px;
        margin: 5px;
    }

    .caption{
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
    }

    .itemImgC1{
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC2{
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
        align-self: center;
    }
    .itemImgC3{
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: center;
        align-self: center;
    }
    .itemImgC4{
        grid-column: 1/2;
        grid-row: 5/6;
        justify-self: center;
        align-self: center;
    }

    .itemTxtC1{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .itemTxtC2{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .itemTxtC3{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .itemTxtC4{
        grid-column: 2/3;
        grid-row: 5/6;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px){

    .imgTabla{
        width: 120px;
    }

    .videoInicio{
        width: 80%; 
        height: 300px;
    }

    .vAlign{
        width: 120px;
    }

    .coleccion{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 5px;
        margin: 5px;
    }

    .caption{
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
    }

    .itemImgC1{
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC2{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC3{
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC4{
        grid-column: 1/4;
        grid-row: 4/5;
        justify-self: center;
        align-self: center;
    }

    .itemTxtC1{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC2{
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC3{
        grid-column: 3/4;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC4{
        grid-column: 2/3;
        grid-row: 5/6;
        text-align: center;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px){

    .imgTabla{
        width: 120px;
    }

    .videoInicio{
        width: 80%; 
        height: 300px;
    }

    .vAlign{
        width: 170px;
    }

    .coleccion{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 5px;
        margin: 5px;
    }

    .caption{
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
    }

    .itemImgC1{
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC2{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC3{
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC4{
        grid-column: 1/4;
        grid-row: 4/5;
        justify-self: center;
        align-self: center;
    }

    .itemTxtC1{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC2{
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC3{
        grid-column: 3/4;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC4{
        grid-column: 2/3;
        grid-row: 5/6;
        text-align: center;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1999px){

    .imgTabla{
        width: 180px;
    }

    .videoInicio{
        width: 700px;
        height: 400px;
    }

    .vAlign{
        width: 190px;
    }

    .coleccion{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 5px;
        margin: 5px;
    }

    .caption{
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
    }

    .itemImgC1{
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC2{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC3{
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC4{
        grid-column: 1/4;
        grid-row: 4/5;
        justify-self: center;
        align-self: center;
    }

    .itemTxtC1{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC2{
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC3{
        grid-column: 3/4;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC4{
        grid-column: 2/3;
        grid-row: 5/6;
        text-align: center;
    }

}

@media only screen and (min-width: 1200px){

    .imgTabla{
        width: 180px;
    }

    .videoInicio{
        width: 700px;
        height: 400px;
    }

    .vAlign{
        width: 210px;
    }

    .coleccion{
        display: grid;
        grid-template-columns: 4;
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
        margin: 5px;
    }

    .caption{
        grid-column: 1/5;
        grid-row: 1/2;
        text-align: center;
    }

    .itemImgC1{
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC2{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC3{
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
    .itemImgC4{
        grid-column: 4/5;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }

    .itemTxtC1{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC2{
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC3{
        grid-column: 3/4;
        grid-row: 3/4;
        text-align: center;
    }
    .itemTxtC4{
        grid-column: 4/5;
        grid-row: 3/4;
        text-align: center;
    }

}